/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * begin: custom styles
 **/
body {
	padding: 10px 5px;
	font-family: arial;
}
.hint{
	color: #666666;
	font-size: 13px;
	text-indent:  15px;
	display: inline-block;
}
.hide-from-screen {
	position: absolute;
	width: 0px;
	height: 0;
	line-height: 0;
	top: -999em;
	left: -999em;
}

.view-data select {
	border: none;
}
.view-data input[type="text"],
.view-data textarea {
	border: none;
	/*border-bottom: 1px solid #ECE7E7;*/
}

.page-header{
	/*background: #FF6138;
	color: #FFFFFF;*/
	font-size: 21px;
	line-height: 1.5;
	padding: 0 0 0 5px;
	margin: 0 0 5px 0;
}
.add-data,
.view-data {
	border: 1px solid #EEEEEE;
	margin: 5px;
	padding: 5px;
	display: block;
}
.add-data .group{
	padding: 5px;
}
.add-data fieldset,
.view-data fieldset {
	/*border-bottom: 1px solid #CCCCCC;*/
	padding: 3px 0;
	margin: 3px 0;
}
.row {
	padding: 5px 0;
	width: 960px;
	border-bottom: 1px solid #efefef;
	
}
.lbl {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 2px;
}
.action {
	display: inline-block;
	width: 2%;
	cursor: pointer;
}
.lbl.status,
.lbl.revision{
	width: 12%;
}
.lbl.description,
.lbl.files{
	width: 58%;
	border-left: 1px solid #EFEFEF;
}
.lbl.comment {
	width: 26%;
	border-left: 1px solid #EFEFEF;
}
.lbl input,
.lbl select,
.lbl textarea {
	width: 100%;
}
.title-task,
.title-commit{
	cursor: pointer;
	font-weight: bold;
	font-size: 12px;
}
.group-task 
.group-task .row {
	background: #B69A8C;
	border-bottom:1px solid #000000; 
}
.action,
.lbl.status select,
.lbl.revision input{
	position: relative;
	top: -20px;
}

.view-data .group {
	/*border: 1px solid #CCCCCC;*/
	margin: 10px 0;
	padding: 5px;
	box-shadow: 0px 1px 1px #000, 1px 0px 1px #CCC;
}
.view-data .title {
	border-bottom: 1px solid #EFEFEF;
	padding: 3px 0;
}

.view-data .sub-title {
	padding: 10px 0 0 0;
	margin: 0 0 10px 0;
}
.view-data header select {
	display:  inline-block;
	color: #4468D8;
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-transform: capitalize;
    font-weight: bold;
}
.view-data header select::-ms-expand {
    display: none;
}
.add-data .status-message,
.view-data .status-message {
	position: fixed;
	top: 0;
	left: 45%;
	display: inline-block;
	padding: 5px;
	font-size: 13px;
	background: #EADE8B;
}
.remove-confirm {
	border: 1px solid #ff0000;
	padding: 5px 5px 5px 15px;
	margin: 0 0 5px 0;
}
/**
 * end: custom styles
 **/
